<footer>
  <h5 id="contacts">
    Project by <a href ="https://github.com/jsaputo1">John Saputo</a>, <a href ="https://github.com/odgerey">Audrey Medaino Tardif</a> and <a href ="https://github.com/lib3rate">Dmitry Petrov</a>
  </h5>
  <h5>
    <span>Background photo by <a href="https://unsplash.com/@simonardo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Simone Mascellari</a> on <a href="/t/architecture?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
  </h5>
</footer
