<header>
  <nav>
    <a href="/">Website name</a>
    <div>
      <span>
        Logged in as:
        <strong>Username</strong>
      </span>
      <form method="GET" action="/login">
        <button type="submit">Login</button>
      </form>
      <form method="POST" action="/logout">
        <button type="submit">Logout</button>
      </form>
    </div>
  </nav>
</header>
