<header>
  <nav>
    <a href="/">KYJYJY</a>
    <div>
      <% if (username) { %>
      <span
        >Logged in as:
        <strong><%= username %></strong>
      </span>
      <!-- <i class="far fa-envelope"></i> -->
      <form method="GET" action="/users/myaccount">
        <button type="submit">My account</button>
      </form>
      <form method="POST" action="/logout">
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
      <form method="GET" action="/login">
        <button type="submit">Login</button>
      </form>
      <!-- <form method="GET" action="/register">
        <button type="submit">Register</button>
      </form> -->
      <% } %>
    </div>

    <% // if (userAdmin) { %>
    <form method="GET" action="/admin">
      <button type="submit">Admin</button>
    </form>
    <% // } %>
  </nav>
</header>
