<header>
  <nav>
    <a href="/listings">Website name</a>
    <div>
      <span>
        Logged in as:
        <strong></strong>
      </span>
      <form method="POST" action="/logout">
        <button type="submit">Logout</button>
      </form>
    </div>

    <form method="GET" action="/login">
      <button type="submit">Login</button>
    </form>
  </nav>
</header>
