<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Send a message</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Custom fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Global layout CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Header CSS -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <!-- New message page CSS -->
    <link rel="stylesheet" href="/styles/new_message.css" type="text/css" />

    <!-- Footer CSS -->
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Disabling zooming on mobile devices so as not to prevent using the mobile layout -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body>
    <%- include('partials/_header') %>

    <main>
      <section>
        <form method="POST" action="/new_message/<%=listingID%>">
          <label>
            <%=`Send a new message to the seller`%>
          </label>
          <input
            type="subject"
            name="subject"
            placeholder="A request about [listing.name]..."
          />
          <input type="body" name="body" placeholder="Your message here..." />
          <button type="submit" id="new-message-button">
            Send
          </button>
        </form>
      </section>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
