section {
  height: 18em;
  display: flex;
  justify-content: center;
  border: rgb(22, 3, 15) solid;
  margin: 4em 0 3em 0;
  width: 50%;
  background-color: white;
}

// @media only screen and (min-width: 768px) {

//   nav {
//     background-color: #4056A1;
//     background-image: none;
//   }

// }

// @media only screen and (min-width: 1024px) {

// }
