footer {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // position: absolute;
  height: 5em;
  width: 100%;
  padding: 1.5em;
  background-color: rgb(121, 0, 80);
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  color: #FFFFFF;
}
