nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 100%;
  padding: 1.5em;
  background-color: rgb(121, 0, 80);
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #FFFFFF;

  a {
    margin: 0 0 0 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.25rem 0 0;

    // i {
    //   margin: 0.25rem 0 0 1rem;
    //   font-size: 36px;
    // }
  }

  form {
    margin-left: 1em;
  }

  button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid rgb(22, 3, 15);
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(22, 3, 15);
    color: white;
  }
}

@media only screen and (min-width: 1024px) {

  nav {
    font-size: 26px;
    button {
      font-size: 20px;
    }
  }

}
