// See: https://sass-lang.com/

// Global layout stuff

body {
  display: flex;
  flex-direction: column;
  // align-items: center;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", "Bungee", sans-serif;
  font-size: 16px;
  color: #545149;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5em;
  // margin: auto;
  background: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  // background-image: url("../../assets/tim-gouw-FhMdnXonEiU-unsplash.jpg");
  background-image: url("https://images.unsplash.com/photo-1593161434216-dbcd47887482?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80");
}

// @media only screen and (min-width: 768px) {

  // body {
  //   font-size: 20px;
  // }

  // .page-content {
  //   width: 90%;
  //   margin: 5em 2em 0 2em;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: flex-start;
  // }

// }

@media only screen and (min-width: 1024px) {

  body {
    font-size: 21px;
  }

}
