section {
  // display: flex;
  // justify-content: center;
  padding: 0 1em 1em 1em;
  border: rgb(22, 3, 15) solid;
  margin: 4em 0 3em 0;
  width: 90%;
  background-color: white;

  h1 {
    margin-left: 0.25em;
  }
}

section > div {
  display: flex;
  justify-content: space-between;
}

#new-listing-button, #filter-button, .new-message-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid rgb(22, 3, 15);
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

#filter-button {
  font-size: 14px;
}

#new-listing-button {
  width: 10em;
  margin: 2.5em 1.25em 0 0;
}

.new-message-button {
  width: 10em;
  font-size: 14px;
}

#new-listing-button:hover, #filter-button:hover, .new-message-button:hover {
  background-color: rgb(22, 3, 15);
  color: white;
}

#listings-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#filter {
  padding: 2em 2em;
  border: 1px solid rgb(22, 3, 15);
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  label {
    font-weight: 700;
  }

  input {
    font-size: 14px;
  }
}

#filter > * {
  margin: 0.5em 0;
}

#all-listings {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1em 0 0 2em;
}

.one-listing {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;
}

img {
  height: 10em;
  width: 10em;
  border: rgb(22, 3, 15);
  margin: 0 1em 0 0;
}

.listing-parameters {
  display: flex;
  justify-content: space-between;

  // h3 {
  //   overflow-wrap: anywhere;
  // }

  div {
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;

    span {
      margin: auto 0.5em;
    }
  }
}

.listing-id {
  display: hidden;
}

.listing-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1em;

  form {
    input {
      // visibility: hidden;
      display: none;
    }
  }
}

.button-favorite {
  margin: 1.25rem 0 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

hr {
  width: 100%;
  margin: 0 0 1rem 0;
  color: rgb(22, 3, 15) solid;
}

// @media only screen and (min-width: 768px) {

//   nav {
//     background-color: #4056A1;
//     background-image: none;
//   }

// }

@media only screen and (min-width: 1024px) {

  #filter {
    input {
      font-size: 16px;
    }
  }

  #filter-button {
    font-size: 16px;
  }

  .new-message-button {
    font-size: 16px;
  }

}
