section {
  height: 18em;
  display: flex;
  justify-content: center;
  border: black solid;
  margin: 4em 0 3em 0;
  width: 50%;
  background-color: white;
}

form {
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  label {
    font-weight: 700;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

// @media only screen and (min-width: 768px) {

//   nav {
//     background-color: #4056A1;
//     background-image: none;
//   }

// }

@media only screen and (min-width: 1024px) {

  form {
    input {
      font-size: 16px;
    }

    button {
      font-size: 16px;
    }
  }

}
