section {
  min-height: 16.5em;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: rgb(22, 3, 15) solid;
  margin: 4em 0 3em 0;
  background-color: white;

  .messages-container {
    display: flex;
    flex-direction: row;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em 2em;

    h2 {
      margin: 0 0 1.5rem 0;
      font-size: 18px;
    }

    article {

      h5 {
        margin: 0;
      }

      span {
        font-size: 14px;
      }

      p {
        font-size: 14px;
        margin: 0;
      }

    }

    hr {
      margin: 1rem 0 1rem 0;
      color: rgb(22, 3, 15) solid;
    }
  }

  form {
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    label {
      margin: 0 0 1rem 0;
      font-size: 18px;
      font-weight: 700;
    }

    textarea {
      margin: 1rem 0 0 0;
      overflow: wrap;
      resize: none;
      width: 20rem;
      font-size: 14px;
    }
  }
}

.confirmation {
  display: none;
  padding: 15px 10px 15px 50px;
  border: 1px solid;
  margin: 2rem 3rem 1rem 3rem;
  text-align: center;
  // color: rgb(189, 44, 0);
  font-size: 14px;
  font-weight: 700;
}

#new-message-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  margin: 1rem 0 0 0;
  border: 2px solid rgb(22, 3, 15);
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

#new-message-button:hover {
  background-color: rgb(22, 3, 15);
  color: white;
}

#message-history {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    padding: 0 0 2rem 0;
  }

  h2 {
    margin-bottom: 1rem;
  }

  p {
    overflow-wrap: anywhere;
    text-align: justify;
  }
}

// .hidden {
//   display: none;
// }

#message-history div hr:last-child {
  display: none;
}

#show-messages-button {
  width: 9rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid rgb(22, 3, 15);
  margin: 0 0 1rem 0;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

#show-messages-button:hover {
  background-color: rgb(22, 3, 15);
  color: white;
}

@media only screen and (min-width: 1024px) {

  section {

    form {

      label {

        font-size: 28px;
      }

      textarea {
        font-size: 16px;
      }

    }

    #new-message-button {
      font-size: 16px;
    }

    div {

      h2 {
        font-size: 28px;
      }

      article {

        h5{
          font-size: 18px;
        }

        span {
          font-size: 18px;
        }

        p {
          font-size: 18px;
        }

      }

    }

  }

  .confirmation {
    font-size: 16px;
  }

}
