section {
  height: 18em;
  display: flex;
  justify-content: center;
  border: rgb(22, 3, 15) solid;
  margin: 4em 0 3em 0;
  width: 50%;
  background-color: white;
}

form {
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  label {
    font-size: 18px;
    font-weight: 700;
  }

  input {
    font-size: 14px;
  }
}

#new-message-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid rgb(22, 3, 15);
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

#new-message-button:hover {
  background-color: rgb(22, 3, 15);
  color: white;
}

// @media only screen and (min-width: 768px) {

//   nav {
//     background-color: #4056A1;
//     background-image: none;
//   }

// }

@media only screen and (min-width: 1024px) {

  form {
    label {
      font-size: 28px;
    }

    input {
      font-size: 16px;
    }
  }

  #new-message-button {
    font-size: 16px;
  }
}
