#section-messages {
  padding: 0 1em 1.5em 1em;
  border: rgb(22, 3, 15) solid;
  margin: 4em 0 3em 0;
  width: 90%;
  background-color: white;

  h1 {
    margin-left: 0.25em;
  }
}

#received-messages {
  margin: 1rem 0 0 0.5rem;
  display: flex;
  // display: none;
  flex-direction: column;
  align-items: center;

  hr {
    width: 75%;
    margin: 1rem 0 1rem 0;
    color: rgb(22, 3, 15) solid;
  }
}

.one-message {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-text {
  width: 65%;
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0;
  }
}

.message-parameters {
  display: flex;
  flex-direction: column;
}

#section-favorites {
  padding: 0 1em 1.5em 1em;
  border: rgb(22, 3, 15) solid;
  margin: 0 0 3em 0;
  width: 90%;
  background-color: white;

  h1 {
    margin-left: 0.25em;
  }
}

// #favorites-container {
//   display: none;
// }

.button-favorite {
  // margin: 1.5rem 0 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  i {
    color: rgb(121, 0, 80);
  }
}

#section-listings {
  padding: 0 1em 1.5em 1em;
  border: rgb(22, 3, 15) solid;
  margin: 0 0 3em 0;
  width: 90%;
  background-color: white;

  h1 {
    margin-left: 0.25em;
  }
}

#section-listings > div {
  display: flex;
  justify-content: space-between;
}

#new-listing-button, .filter-button, .new-message-button, .edit-listing-button, #show-messages-button, #show-favorites-button, .reply-message-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid rgb(22, 3, 15);
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

#show-messages-button, #show-favorites-button {
  width: 9rem;
  margin: 0 0 0 0.5em;
}

.filter-button, .reply-message-button, .new-message-button {
  width: 6rem;
  font-size: 14px;
}

.reply-message-button {
  margin: 0 0 0 0.5rem;
}

#new-listing-button {
  width: 10em;
  margin: 2.5em 1.25em 0 0;
}

.edit-listing-button {
  width: 6rem;
  margin: 0 0 0 1em;
  font-size: 14px;
}

#new-listing-button:hover, .filter-button:hover, .new-message-button:hover, .edit-listing-button:hover, #show-messages-button:hover, #show-favorites-button:hover, .reply-message-button:hover {
  background-color: rgb(22, 3, 15);
  color: white;
}

#listings-container, #favorites-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.filter {
  padding: 2em 2em;
  border: 1px solid rgb(22, 3, 15);
  margin: 1em 0 0 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  label {
    font-weight: 700;
  }

  input {
    font-size: 14px;
  }
}

.filter > * {
  margin: 0.5em 0;
}

.all-listings {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1em 0 0 2em;

  hr {
    width: 100%;
    margin: 0 0 1rem 0;
    color: rgb(22, 3, 15) solid;
  }
}

// .all-listings:last-child {
//   hr {
//     display: none;
//   }
// }

.one-listing {
  display: flex;
  justify-content: space-between;
  margin: 0 1em 1em 0;
}

.listing-info {
  display: flex;
  width: 80%;
  flex-grow: 100;

  div {
    flex-grow: 100;
  }
}

img {
  height: 10em;
  width: 10em;
  border: rgb(22, 3, 15);
  margin: 0 1em 0 0;
}

.listing-parameters {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;

  h3 {
    width: 60%;
    margin: 0;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 0.5rem 0;
    // font-size: 14px;

    span {
      margin: auto 0.5em;
    }
  }
}

.listing-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

// @media only screen and (min-width: 768px) {

//   nav {
//     background-color: #4056A1;
//     background-image: none;
//   }

// }

@media only screen and (min-width: 1024px) {

  .filter {
    input {
      font-size: 16px;
    }
  }

  .filter-button {
    font-size: 16px;
  }

  .new-message-button {
    font-size: 16px;
  }

  .edit-listing-button {
    font-size: 16px;
  }

}
